/*body {
  max-width: 980px;
  margin: 0 auto;
  padding: 1em 0;
  background-color: #f0f0f0;
}

a:link {
  color: #338caf;
  text-decoration: none;
}

a:visited {
  color: #338caf;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

a:active {
  color: blue;
  text-decoration: none;
}*/


.project {
  clear: both;
  border: 0px solid black;
  /*display: inline-block;*/
  /*width: 70px;*/
  overflow: hidden;
  /*white-space: nowrap;*/
  margin-bottom: 30px;
}

.project img {
  width: 150px;
  float: left;
}

.project-details {
  width: 720px;
  display: inline-block;
  margin-left: 20px;
}
