body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
}

a {
  color: blue;
}

table {
  border: 0px solid gray;
  table-layout: fixed;
  width: 90%;
}

td {
  border: 0px solid gray;
  table-layout: fixed;
  width: 90%;
}
