body {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 0;
}

a {
  color: blue;
}

table {
  border: 0px solid gray;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 0px solid gray;
  table-layout: fixed;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
