body {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 0;
}

a {
  color: blue;
}

table {
  border: 0px solid gray;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 0px solid gray;
  table-layout: fixed;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.project {
  clear: both;
  border: 0px solid black;
  /*display: inline-block;*/
  /*width: 70px;*/
  overflow: hidden;
  /*white-space: nowrap;*/
  margin-bottom: 30px;
}

.project img {
  width: 150px;
  float: left;
}

.project-details {
  width: 720px;
  display: inline-block;
  margin-left: 20px;
}
